---
import Slide from "../../components/Slide.astro"
---
<Slide sectionTitle="Lighthouse" subSectionTitle="Overview">
  <h3>What is Lighthouse?</h3>
</Slide>

<Slide sectionTitle="Lighthouse" subSectionTitle="Overview">
  <ul>
    <li>An open-source, automated tool from Google</li>
    <li class="fragment">Provides audits for performance, accessibility, best practices, SEO, and more</li>
    <li class="fragment">Generates scores and diagnostics based on lab tests in a controlled environment</li>
  </ul>
</Slide>

<Slide sectionTitle="Lighthouse" subSectionTitle="How people use it">
  <h3>How people use it</h3>
</Slide>

<Slide sectionTitle="Lighthouse" subSectionTitle="How people use it">
  <ul>
    <li>Local audits during development (Chrome DevTools & Lighthouse CLI)</li>
    <li class="fragment">CI audits to prevent regressions</li>
  </ul>
</Slide>
