---
import Slide from "../../components/Slide.astro"
---

<Slide sectionTitle="Workshop Instructions">
  <h2>Workshop Time!</h2>
</Slide>

<Slide sectionTitle="Workshop Instructions" subSectionTitle="Setting up the environment">
  <ul>
    <li class="fragment">Fork and clone the GitHub repo: 
      <a href="https://github.com/thereseLYR/phlash-spid-nextjs-webopti">https://github.com/thereseLYR/phlash-spid-nextjs-webopti</a>
    </li>
    <li class="fragment">Install dependencies with `npm install`</li>
    <li class="fragment">Run the dev server with `npm run dev`</li>
  </ul>
</Slide>

<Slide sectionTitle="Workshop Instructions" subSectionTitle="Essential Components">
  <ul>
    <li class="fragment">
    Header and footer must maintain their current appearance and functionality
    </li>
    <li class="fragment">
      All core routes must remain functional:
      <ul>
        <li>
          Landing page (/)
        </li>
        <li>
          About Us (/about-us)
        </li>
        <li>
          Contact Us (/contact-us)
        </li>
      </ul>
    </li>
  </ul>
</Slide>

<Slide sectionTitle="Workshop Instructions" subSectionTitle="Dynamic Content Requirements">
  <ul>
    <li class="fragment">
      Announcement banner below the header must:
      <ul>
        <li>
          Display quote of the day from a dynamic API
        </li>
        <li>
          Update at least once per day
        </li>
      </ul>
    </li>

    <li class="fragment">
      Hero section must include:
      <ul>
        <li>
          Dynamic cat image from an API
        </li>
        <li>
          Image must change at least once per day
        </li>
      </ul>
  </ul>
</Slide>
