---
import Slide from "../../components/Slide.astro"
---
<Slide sectionTitle="Wrapup & next steps">
</Slide>

<Slide sectionTitle="Wrapup & next steps" subSectionTitle="Share your wins">
  <p>
    What was the most impactful optimization that you made?
  </p>
</Slide>

<Slide sectionTitle="Wrapup & next steps" subSectionTitle="Further Ideas">
  <p>
    If you had more time, what other optimizations or refactoring would you explore?
  </p>
</Slide>

<Slide sectionTitle="Wrapup & next steps" subSectionTitle="Credits & Acknowledgements">
  <ul>
    <li class="fragment">Project resources: Lighthouse, Web Vitals, Next.js docs</li>
    <li class="fragment">General Further reading:
      <ul>
        <li><a href="https://web.dev/fast/">web.dev/fast</a></li>
        <li><a href="https://developers.google.com/web/tools/lighthouse">Lighthouse documentation</a></li>
        <li><a href="https://web.dev/vitals/">Web Vitals documentation</a></li>
      </ul>
    </li>

    <li class="fragment">NextJS Further reading:
      <ul>
        <li><a href="https://nextjs.org/docs/app/guides/package-bundling">Package Bundling</a></li>
        <li><a href="https://nextjs.org/docs/app/guides/lazy-loading">Lazy Loading</a></li>
        <li><a href="https://nextjs.org/docs/app/guides/production-checklist">General Production Checklist</a></li>
      </ul>
    </li>
  </ul>
</Slide>